<!DOCTYPE html>
<html lang=en>
<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link rel="stylesheet" href="https://indestructibletype.com/fonts/Bodoni/Bodoni.css" type="text/css" charset="utf-8" />
  <link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/milligram">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/linea-io/Linea-Iconset/_arrows/_ICONFONT/styles.css">
  <link rel="stylesheet" href="/style.css">
  <title>{% block title %}{% endblock %} - Talk Classical List</title>
  {% endblock %}
</head>
<body>
  <nav>
    <ul class="navlist">
    {% block nav %}
      <li class="navitem"><a class="navlink" href="/" alt="Home">Home</a></li>
      <li class="navitem"><a class="navlink" href="/about" alt="About">About</a></li>
      <li class="navitem"><a class="navlink" href="/stats" alt="Stats">Stats</a></li>
      <li class="navitem"><a class="navlink" href="/select" alt="Selector">Selector</a></li>
    {% endblock %}
    </ul>
  </nav>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
