{% extends "base.html" %}
{% block title %}Talk Classical List{% endblock %}
{% block head %}
  {{ super() }}
  <script src="./main.js" async></script>
{% endblock %}
{% block content %}
  <h1>The Talk Classical Community's Favorite and Most Highly Recommended Works</h1>
  <hr>
  {% for tier in tier_list %}
  <h4 class="tier">{{tier[0]}} Tier</h4>
  <ul class="list">
    {% for work in tier[1] %}
      <li><b>{{ work["comp"] }}</b>: <i>{{ work["title"] }}</i> {% if work["raw_yr"] %}({{ work["raw_yr"] }}){% elif work["year"] %}({{ work["year"] }}){% endif %}</li>
    {% endfor %}
  </ul>
  {% endfor %}
{% endblock %}
