{% extends "base.html" %}
{% block title %}Music Selector - Talk Classical List{% endblock %}
{% block head %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nouislider/distribute/nouislider.min.css">
  {{ super() }}
  <script src="https://cdn.jsdelivr.net/npm/smoothscroll-polyfill"></script>
  <script src="https://cdn.jsdelivr.net/npm/nouislider"></script>
  <script src="https://cdn.jsdelivr.net/npm/smartquotes"></script>
  <script src="selector.js" async></script>
{% endblock %}
{% block content %}
  <h1>Music Selector</h1>
  <p>Randomly select a piece of classical music from <a href="https://docs.google.com/document/d/e/2PACX-1vSZgBXQxvzbYpTRTOgDsljaQ4Ficc5RM9iQ_4OTPNgfOP78hMvTtWLag51Rz7cJL_sbUwIdf5rsWJSs/pub">The Talk Classical Community's Favorite and Most Highly Recommended Works</a>.</p>
  <hr>
  <form id="rng">
    <fieldset>
    <label for="date-range">Dates</label>
    <div id="date-range"></div>
    <label for="tier-range">Tiers</label>
    <div id="tier-range"></div>
    <input class="button-outline" type="submit" value="Select" id="trigger">
    <h6 class="float-right"><strong># Works:</strong> <span id="count"></h6>
    </fieldset>
  </form>
  <div id="info">Loading...</div>
  <div id="result">
    <h3><strong id=composer></strong>: <em id="title"></em> <span id="year"></span></h3>
    <h6 class="float-right">Tier <span id="tier"></span></h6>
    <a class="button button-outline" href="" id="yt" target="_blank" rel="noopener noreferrer">Search on YouTube</a>
  </div>
  </ul>
{% endblock %}
